data/
__pycache__/
*.pyc
*.pt
*.bin
*.wav
*.mp4
*.xlsx
build_gradio/query
normalize_fail.log
normalize_ref_fail.log

results/
log/

# Environment
.env
.env.*
venv/
.venv/

# Ignore Mac system files
.DS_Store

